.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 170px;
  margin-left: 100px;
  color: white;
}

.carousel-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.carousel-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.carousel-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carousel-button.left {
  position: absolute;
  margin-left: -10000px; /* Espaciado hacia la izquierda */
}

.carousel-button.right {
  position: absolute;
  right: 150px; /* Espaciado hacia la derecha */
}

.zigzag-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.zigzag-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
}

.image-time-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.time-box {
  margin-top: 10px;
}

.time-box__text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
