@font-face {
  font-family: '007 GoldenEye';
  src: url('/src/fonts/007\ GoldenEye.ttf') format('truetype'); /* Asegúrate de que esta ruta sea correcta */
}


body {
  margin: 0;
  padding: 0;
  font-family: Bodoni MT, sans-serif;
  background-color: black;
  color: black;
  text-align: center;
}

/* Estilos generales que se aplicarán a todas las páginas */
.header h3 {
  padding-top: 20px;
  font-size: 1.5em;
  text-align: left;
  margin-left: 20px;
}

.content {
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Apilar elementos en columna */
  align-items: flex-start; /* Alinear elementos al inicio (izquierda) */
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-left: 0; /* Sin margen izquierdo para mantener la imagen en su lugar */
}

h1 {
  font-size: 3em;
  margin-bottom: 10px; /* Reduce el margen inferior si es necesario */
  margin-left: 50px; /* Mover el título a la derecha */
}

p {
  margin-left: 150px; /* Mover el párrafo a la derecha */
  margin-bottom: 0px; /* Espacio inferior para separación */
}


button {
  padding: 10px 20px;
  font-size: 1.5em;
  font-family: ' Bodoni MT';
  color: black;
  background-color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 20px; /* Espacio adicional encima del botón */
  margin-left: 325px; /* Mover el botón a la derecha */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}
